{% extends 'flight/base.html' %}
{% block content %}
{% load static %}


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="banner-section inner-banner-section bg-overlay-black bg_img"
            data-background="{% static 'assets/images/bg/inner-bg.png' %}">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-12 text-center">
                        <div class="banner-content">
                            <h1 class="title">Contact Us</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <a href="#" class="scrollToTop">
            <i class="las la-dot-circle"></i>
            <span>Top</span>
        </a>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Contact
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="contact-section ptb-120">
            <div class="container">
                <div class="row justify-content-center mb-30-none">
                    <div class="col-xl-6 col-lg-6 mb-30">
                        <div class="map-area">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3921.391522942011!2d76.14197217463892!3d10.62666108951314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ea4d0e584607%3A0x2664e7fe1daf242e!2sVidya%20Academy%20of%20Science%20and%20Technology%20Thalakottukara!5e0!3m2!1sen!2sin!4v1724566909659!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-30">
                        <div class="contact-widget">
                            <div class="contact-form-header">
                                <span class="sub-title">Fly with Ease and Convenience</span>
                                <h2 class="title">How to Contact with Us?</h2>
                                <p>Flynext offers a seamless and comfortable airline ticket reservation experience. 
                                    Skip the crowds and enjoy the convenience of booking your next flight with us. </p>
                            </div>
                            <ul class="contact-item-list">
                                <li>
                                    <a href="#0">
                                        <div class="contact-item-icon">
                                            <i class="icon-location-icon"></i>
                                        </div>
                                        <div class="contact-item-content">
                                            <h4 class="title">Our Location</h4>
                                            <p>Flynext, Vidya Academy of Science & Technology, Thalakottukara</p>
                                            <p class="text--base font-weight-bold">Find Us On google Map <span
                                                    class="ml-1"><img src="{% static 'assets/images/element/element-20.png' %}"
                                                        alt="element"></span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="contact-item-icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="contact-item-content">
                                            <h4 class="title">Our Phone</h4>
                                            <p>+91 8012028</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="contact-item-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="contact-item-content">
                                            <h4 class="title">Our Email</h4>
                                            <p>Flynext03@gmail.com</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Contact
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Contact
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="contact-section bg--gray ptb-120">
        <div class="container">
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-5 col-lg-5 mb-30">
                    <div class="contact-left-content" data-aos="fade-right" data-aos-duration="1200">
                        <span class="sub-title">Talk to us</span>
                        <h2 class="title">Any Question?
                            Fell Free to
                            Contact</h2>
                        <p>With a wide selection of airlines to choose from, booking multiple airline 
                            tickets with us ensures a smooth and efficient travel experience</p>
                        <ul class="contact-social">
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 mb-30">
                    <div class="contact-form-inner" data-aos="fade-left" data-aos-duration="1200">
                        <div class="contact-form-area">
                            {% if success %}
                            <div class="alert alert-success" role="alert">
                                Your message has been successfully submitted!
                            </div>
                            {% endif %}
                            <form class="contact-form" method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="row justify-content-center mb-20-none">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <label class="icon"><i class="icon-name_icone"></i></label>
                                        <input type="text" class="form--control" name="name" placeholder="Name"
                                            required>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <label class="icon"><i class="las la-envelope"></i></label>
                                        <input type="email" class="form--control" name="email" placeholder="Email"
                                            required>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <label class="icon"><i class="icon-call_icone"></i></label>
                                        <input type="number" class="form--control" name="phone" placeholder="Phone"
                                            required>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="contact-select">
                                            <select class="form--control" name="subject" required>
                                                <option value="" disabled selected>Subject</option>
                                                <option value="1">Complaint</option>
                                                <option value="2">Feedback</option>
                                                <option value="3">Query</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label class="icon"><i class="icon-massage"></i></label>
                                        <textarea class="form--control" name="message" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <button type="submit" class="btn--base mt-10">Submit Now <i
                                                class="icon-Group-2361 ml-2"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}