{% extends 'flight/base.html' %}
{% block content %}
{% load static %}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="banner-section">
            <div class="banner-element" data-aos="fade-left" data-aos-duration="1200">
                <img src="{% static 'assets/images/element/element-1.png' %}" alt="element">
            </div>
            <div class="banner-element-two">
                <img src="{% static 'assets/images/element/element-3.png' %}" alt="element">
            </div>
            <div class="banner-element-three">
                <img src="{% static 'assets/images/element/element-4.png' %}" alt="element">
            </div>
            <div class="banner-element-four">
                <img src="{% static 'assets/images/element/element-5.png' %}" alt="element">
            </div>
            <div class="banner-social-area">
                <ul class="banner-social">
                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://youtube.com/@flynext-v9b?si=_aPHt3ldyz4Yr-jD"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center mb-30-none">
                    <div class="col-xxl-5 col-xl-6 col-lg-12 mb-30">
                        <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">
                            <span class="sub-title"><span>Fly</span>next</span>
                            <h1 class="title">Book an airline ticket instantly</h1>
                            <p>Flynext Airline proudly raises the bar and exceeds the standard for luxury and corporate
                                airline charter services. We pride ourselves on offering a professional service.</p>
                            <div class="banner-btn">
                                <a href="/login" class="btn--base"><i
                                        class="fas fa-chevron-right mr-2"></i> Make Your Trip</a>
                                <a href="/contact" class="btn--base active">Request Quote <i
                                        class="icon-Group-2361 ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-6 col-lg-6 mb-30">
                        <div class="banner-thumb">
                            <img src="{% static 'assets/images/element/element-2.png' %}" alt="element">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <a href="#" class="scrollToTop">
            <i class="las la-dot-circle"></i>
            <span>Top</span>
        </a>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Overview
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="overview-section ptb-120">
            <div class="container-fluid">
                <div class="overview-area">
                    <div class="overview-element" data-aos="fade-up" data-aos-duration="1200">
                        <img src="{% static 'assets/images/element/element-6.png' %}" alt="element">
                    </div>
                    <div class="overview-tab">
                        <nav>
                            <div class="overview-tab-thumb" data-aos="fade-left" data-aos-duration="1200">
                                <img src="{% static 'assets/images/overview/overview-2.jpg' %}" alt="overview">
                                <div class="nav-tab-area">
                                    <div class="nav-tab-header">
                                        <span class="sub-title"><span>#1</span> Fly with Ease and Convenience</span>
                                        <h2 class="title">Find the Best Service For You</h2>
                                    </div>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link" id="private-jet-tab" data-toggle="tab"
                                            data-target="#private-jet" type="button" role="tab"
                                            aria-controls="private-jet" aria-selected="true"><span>01</span>Book ticket
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent" data-aos="fade-right" data-aos-duration="1200">
                            <div class="tab-pane fade" id="private-jet" role="tabpanel"
                                aria-labelledby="private-jet-tab">
                                <div class="overview-item">
                                    <div class="overview-thumb">
                                        <img src="{% static 'assets/images/overview/overview-1.png' %}" alt="overview">
                                        <div class="overview-thumb-content">
                                            <h3 class="title"><a href="/login">Fly with Ease and Convenience</a>
                                            </h3>
                                            <p>Tired of crowded airports and long queues? Book your flights with us and experience the convenience of seamless travel. Our platform offers a user-friendly interface to choose preferred airlines.
                                                Make your journey comfortable and stress-free with easy online reservations.</p>
                                            <div class="overview-btn">
                                                <a href="/dashboard" class="custom-btn"><i
                                                        class="icon-btn-icon-v2"></i> Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="business-jet" role="tabpanel"
                                aria-labelledby="business-jet-tab">
                                <div class="overview-item">
                                    <div class="overview-thumb">
                                        <img src="{% static 'assets/images/overview/overview-1.jpg' %}" alt="overview">
                                        <div class="overview-thumb-content">
                                            <h3 class="title"><a href="/login">Fly with Ease and Convenience</a>
                                            </h3>
                                            <p>Tired of crowded airports and long queues? Book your flights with us and experience the convenience of seamless travel. Our platform offers a user-friendly interface to choose preferred airlines.
                                                Make your journey comfortable and stress-free with easy online reservations.</p>
                                            <div class="overview-btn">
                                                <a href="/dashboard" class="custom-btn"><i
                                                        class="icon-btn-icon-v2"></i> Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="private-helicopter" role="tabpanel"
                                aria-labelledby="private-helicopter-tab">
                                <div class="overview-item">
                                    <div class="overview-thumb">
                                        <img src="{% static 'assets/images/overview/overview-1.png' %}" alt="overview">
                                        <div class="overview-thumb-content">
                                            <h3 class="title"><a href="/login">Private Helicopter</a></h3>
                                            <p>Trade crowded airports and wasted time for the ease, comfort, and
                                                convenience of travel by private jet.</p>
                                            <div class="overview-btn">
                                                <a href="/dashboard" class="custom-btn"><i
                                                        class="icon-btn-icon-v2"></i> Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="air-ambulance" role="tabpanel"
                                aria-labelledby="air-ambulance-tab">
                                <div class="overview-item">
                                    <div class="overview-thumb">
                                        <img src="{% static 'assets/images/overview/overview-1.png' %}" alt="overview">
                                        <div class="overview-thumb-content">
                                            <h3 class="title"><a href="/login">Air Ambulance</a></h3>
                                            <p>Trade crowded airports and wasted time for the ease, comfort, and
                                                convenience of travel by private jet.</p>
                                            <div class="overview-btn">
                                                <a href="/dashboard" class="custom-btn"><i
                                                        class="icon-btn-icon-v2"></i> Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Overview
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start About
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="about-section bg-overlay-base ptb-120 bg_img" data-background="assets/images/bg/bg-1.png">
            <div class="about-element">
                <img src="{% static 'assets/images/element/element-8.png' %}" alt="element">
            </div>
            <div class="container">
                <div class="row justify-content-center mb-30-none">
                    <div class="col-xl-7 col-lg-7 mb-30">
                        <div class="about-content">
                            <span class="sub-title"><span>About</span> Flynext</span>
                            <h2 class="title">Flynext save your
                                time and give more comfort</h2>
                            <p>Flynext offers a seamless and comfortable airline ticket reservation experience. 
                                Skip the crowds and enjoy the convenience of booking your next flight with us.</p>
                            <div class="about-book-area">
                                <div class="about-book-element">
                                    <img src="{% static 'assets/images/element/element-7.png' %}" alt="element">
                                </div>
                                <div class="about-book-left">
                                    <h3 class="call-title">Call for book an order</h3>
                                    <span class="call"><a href="tel:8-800-10-500">+91 8075712028</a></span>
                                </div>
                                <div class="about-book-right">
                                    <a href="/dashboard" class="btn--base"><i class="icon-btn-icon-v2"></i>
                                        Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 mb-30">
                        <div class="about-thumb-video">
                            <div class="video-main">
                                <div class="promo-video">
                                    <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div>
                                </div>
                                <a class="video-icon" data-rel="lightcase:myCollection"
                                    href="https://www.youtube.com/embed/2wScE44hcA4">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End About
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Feature
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="feature-section page-wrapper-two ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12 text-center">
                        <div class="section-header">
                            <span class="sub-title">Discover <span>Flynext</span> Benefits</span>
                            <h2 class="section-title">Discover Airline Benefits</h2>
                        </div>
                    </div>
                </div>
                <div class="feature-area">
                    <div class="row justify-content-center m-0">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-world-svgrepo-com"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Luxury & Comfort Travel</h3>
                                    <p>Makes booking your flights a seamless experience. Enjoy effortless travel arrangements 
                                        that prioritize your comfort and convenience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-money-svgrepo-com-1"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Smart Costing Flight</h3>
                                    <p>Flying should be a pleasure and we’ll make your airline experience as luxurious
                                        and more comfortable as soon as possible.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-briefcase"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Career progression</h3>
                                    <p>The first small jet-powered civil aircraft was the Morane-Saulnier MS.760 Paris,
                                        developed privately since 1940s</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-note"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Flexible Schedule</h3>
                                    <p>Our technology consistently delivers the best pricing for charters – and the
                                        unique ability to buy individual seats all over the world.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-job-announcement"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Excellent advantages</h3>
                                    <p>Search the world with ease and transparency.As the only tech-forward private
                                        aviation company, XO is able to bring you</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="icon-coolest-job"></i>
                                </div>
                                <div class="feature-content">
                                    <h3 class="title">Coolest Environment</h3>
                                    <p>Offers a refreshing travel experience with a focus on comfort and relaxation, ensuring a truly pleasant journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Feature
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Statistics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="statistics-section bg-overlay-black ptb-120 bg_img" data-background="assets/images/bg/bg-2.png">
            <div class="container">
                <div class="statistics-area">
                    <div class="row mb-30-none">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="95">0</h3>
                                    </div>
                                    <p>Professional Pilots</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="68">0</h3>
                                    </div>
                                    <p>Airplanes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="290">0</h3>
                                    </div>
                                    <p>World Airports</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item" data-aos="zoom-in" data-aos-duration="1200">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="195">0</h3>
                                    </div>
                                    <p>Directions</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Statistics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Charter
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="charter-section pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-header-wrapper">
                            <div class="section-header">
                                <span class="sub-title">Airlines</span>
                                <h2 class="section-title">Airlines we offer</h2>
                            </div>
                            <div class="slider-nav-area" data-aos="fade-left" data-aos-duration="1200">
                                <div class="slider-prev">
                                    <i class="fas fa-chevron-left"></i>
                                </div>
                                <div class="slider-next">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="charter-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/air india.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">Air India Airlines</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/qatar.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">Qatar Airways</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/emirates.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">Emirates Airlines</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/indigo.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">Indigo Airlines</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/british.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">British Airways</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="charter-item">
                                        <div class="charter-thumb">
                                            <img src="{% static 'assets/images/charter/spicejet.jpg' %}" alt="charter">
                                        </div>
                                        <div class="charter-content">
                                            <h3 class="title">Spicejet</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Charter
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Book-form
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="book-form-section ptb-50">
            <div class="container">
                <div class="book-form-area bg-overlay-black bg_img" data-background="assets/images/bg/bg-3.png">
                    <div class="row justify-content-center">
                        <div class="col-xl-12 text-center">
                            <div class="section-header white">
                                <span class="sub-title text-white"><span>Flynext</span> Book</span>
                                <h2 class="section-title">Book A Comfortable Flight</h2>
                            </div>
                            <form class="book-form">
                                    <div class="col-xl-12 form-group">
                                        <a href="/dashboard" class="btn--base w-100 mt-10">
                                            <i class="icon-btn-icon"></i> Book Now
                                        </a>
                                    </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Book-form
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Client
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="client-section ptb-0">
            <div class="client-element">
                <img src="{% static 'assets/images/client/map.png' %}" alt="map">
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12 text-center">
                        <div class="section-header">
                            <span class="sub-title"><span>Flynext</span> Testimonial</span>
                            <h2 class="section-title">Our Customer Feedback</h2>
                        </div>
                    </div>
                </div>
                <div class="client-area">
                    <div class="row justify-content-center align-items-end mb-30-none">
                        <div class="col-xl-8 col-lg-8 col-md-6 mb-30">
                            <div class="client-slider-wrapper">
                                <div class="client-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="client-item">
                                                <div class="client-header">
                                                    <div class="client-quote">
                                                        <img src="{% static 'assets/images/client/quote.png' %}" alt="client">
                                                    </div>
                                                    <div class="client-thumb">
                                                        <img src="{% static 'assets/images/client/client-1.jpg' %}" alt="client">
                                                    </div>
                                                </div>
                                                <div class="client-content">
                                                    <p>FlyNext made booking my flight super easy! The website is simple and straightforward. 
                                                        I got my tickets quickly with no hassle.</p>
                                                </div>
                                                <div class="client-footer">
                                                    <div class="client-footer-left">
                                                        <h4 class="title"><a href="#0">Randall Schwartz</a></h4>
                                                    </div>
                                                    <div class="client-footer-right">
                                                        <span class="ratings">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star active"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="client-item">
                                                <div class="client-header">
                                                    <div class="client-quote">
                                                        <img src="{% static 'assets/images/client/quote.png' %}" alt="client">
                                                    </div>
                                                    <div class="client-thumb">
                                                        <img src="{% static 'assets/images/client/client-2.jpg' %}" alt="client">
                                                    </div>
                                                </div>
                                                <div class="client-content">
                                                    <p>The booking process on FlyNext was flawless. The site is easy to navigate, and 
                                                        I had my tickets in minutes. Highly recommend</p>
                                                </div>
                                                <div class="client-footer">
                                                    <div class="client-footer-left">
                                                        <h4 class="title">Sarah M</h4>
                                                    </div>
                                                    <div class="client-footer-right">
                                                        <span class="ratings">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star active"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="client-item">
                                                <div class="client-header">
                                                    <div class="client-quote">
                                                        <img src="{% static 'assets/images/client/quote.png' %}" alt="client">
                                                    </div>
                                                    <div class="client-thumb">
                                                        <img src="{% static 'assets/images/client/client-3.jpg' %}" alt="client">
                                                    </div>
                                                </div>
                                                <div class="client-content">
                                                    <p>FlyNext is easy to use, customer service took too long to respond.
                                                         Good for booking, but support could be faster.</p>
                                                </div>
                                                <div class="client-footer">
                                                    <div class="client-footer-left">
                                                        <h4 class="title">Andru Smith</h4>
                                                    </div>
                                                    <div class="client-footer-right">
                                                        <span class="ratings">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star active"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="client-item">
                                                <div class="client-header">
                                                    <div class="client-quote">
                                                        <img src="{% static 'assets/images/client/quote.png' %}" alt="client">
                                                    </div>
                                                    <div class="client-thumb">
                                                        <img src="{% static 'assets/images/client/client-4.jpg' %}" alt="client">
                                                    </div>
                                                </div>
                                                <div class="client-content">
                                                    <p>FlyNext is reliable for booking flights, but I had a minor issue with the website freezing. 
                                                        Customer support resolved it quickly, though.</p>
                                                </div>
                                                <div class="client-footer">
                                                    <div class="client-footer-left">
                                                        <h4 class="title">Lisa</h4>
                                                    </div>
                                                    <div class="client-footer-right">
                                                        <span class="ratings">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star active"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="client-item">
                                                <div class="client-header">
                                                    <div class="client-quote">
                                                        <img src="{% static 'assets/images/client/quote.png' %}" alt="client">
                                                    </div>
                                                    <div class="client-thumb">
                                                        <img src="{% static 'assets/images/client/client-5.jpg' %}" alt="client">
                                                    </div>
                                                </div>
                                                <div class="client-content">
                                                    <p>FlyNext is my go-to for booking flights! The website is clean and efficient, and I had my tickets booked in no time.
                                                         Absolutely hassle-free experience.</p>
                                                </div>
                                                <div class="client-footer">
                                                    <div class="client-footer-left">
                                                        <h4 class="title">Mark T</h4>
                                                    </div>
                                                    <div class="client-footer-right">
                                                        <span class="ratings">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star active"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Client
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Brand
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="brand-section ptb-120">
            <div class="container">
                <div class="row justify-content-center mt-10-none mb-10-none">
                    <div class="col-xl-12 text-center">
                        <div class="brand-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="{% static 'assets/images/brand/brand-1.png' %}" alt="brand">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="{% static 'assets/images/brand/brand-2.png' %}" alt="brand">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="{% static 'assets/images/brand/brand-3.png' %}" alt="brand">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="{% static 'assets/images/brand/brand-4.png' %}" alt="brand">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="{% static 'assets/images/brand/brand-5.png' %}" alt="brand">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Brand
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% endblock %}